<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>0没法活</string>
	<string>1哈哈哈哈分行</string>
	<string>2很好的身份号才能</string>
	<string>3好的hi挨打后女偶说的和你的等会哦啊的农村vdhdh</string>
	<string>4和哦按电动车</string>
	<string>5还准备的烦恼好的看出</string>
	<string>6hdhidixcnoaknnelfk</string>
</array>
</plist>
